# Dépendances
node_modules/

# Build
dist/
dist-ssr/

# Données locales (ne pas versionner les vraies données)
src/utils/data.json

# Logs
*.log
npm-debug.log*

# Environnement
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
